# Entorno y credenciales
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore